.list {
  width: 100%;
}
.listItem {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #333;
  border: 1px solid #ddd;
  margin: 20px;
}
.buttonWrap {
  margin-left: auto;
}
.button {
  display: inline-flex;
  height: 32px;
  border-radius: 8px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 14px;
  background: #39f;
  color: #fff;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: .7;
  }
}
.normalStyle {
  background-color: #ddd;
  color: #fff;
  margin-right: 5px;
}
.addWrap {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  > span {
    background: #39f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
  }
}
.isCompleted {
  text-decoration: line-through;
}